---
interface Props {
    title: string;
}
const { title } = Astro.props;
---
<div class="flex justify-between items-center mb-8">
    <h2 class="text-4xl font-bold text-background-dark dark:text-background-light">{title}</h2>
    <button class="flex items-center justify-center gap-2 h-10 px-5 bg-primary text-white rounded-lg text-sm font-bold shadow-sm hover:bg-primary/90">
        <span class="material-symbols-outlined">add</span>
        <span>Agregar motorhome</span>
    </button>
</div>