---
interface Props {
    status: 'Disponible' | 'Reservado' | 'Mantenimiento';
}
const { status } = Astro.props;

const statusClasses = {
    Disponible: "bg-green-100 text-green-800 dark:bg-green-900/50 dark:text-green-300",
    Reservado: "bg-yellow-100 text-yellow-800 dark:bg-yellow-900/50 dark:text-yellow-300",
    Mantenimiento: "bg-red-100 text-red-800 dark:bg-red-900/50 dark:text-red-300",
}
---
<span class:list={["px-3 py-1 text-xs font-semibold rounded-full", statusClasses[status]]}>
    {status}
</span>