---
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	</head>
	<body class="bg-background-light dark:bg-background-dark font-display">
		<div class="flex min-h-screen">
			<slot name="sidebar" />
			
			<main class="flex-1 p-8">
				<slot name="main" />
			</main>
		</div>
	</body>
</html>