---
import AdminLayout from '../../layouts/AdminLayout.astro';
import Sidebar from '../../components/admin/Sidebar.astro';
import Header from '../../components/admin/Header.astro';
import MotorhomesTable from '../../components/admin/MotorhomesTable.astro';
---
<AdminLayout title="Panel de Administración">
    
    <aside slot="sidebar">
        <Sidebar />
    </aside>

    <div slot="main">
        <Header title="Motorhomes" />
        <MotorhomesTable />
    </div>

</AdminLayout>